.area {
    border: 4px solid #ffffff;
    width: 100px;
    height: 100px;
    background-color: #997dc5;
    position: absolute;
    left: 500px;
    top: 300px;
}
body{
    background-color: rgb(29, 29, 29);
}